.imgContainer {
  width: 111px;
  height: 112px;
  margin-left: 60px;
  margin-top: 25px;
  margin-bottom: 34px;
  border-radius: 100px;
}

.container {
  width: 80%;
  height: 171px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #faf6f6;
  border: 1px solid #f3e9e9;
  border-radius: 8px;
  margin-bottom: 30px;
}

.flextext {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  
}

.flex3 {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 29px;
}

.flextext1{
  margin-left: 29px;
  margin-bottom: 20px;
}

.btn {
  margin-top: 55px;
  margin-right: 40px;
  margin-left: 20px;
  background: #C92723;
  /* box-sizing: border-box; */
  width: 300px;
  border: none;
  border-radius: 10px;
  color: white;
  height: 65px;
  /* margin-top: 20px; */
}

.btn:hover {
  background: #c44442;
  box-sizing: border-box;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  height: 65px;
}
