.ListContainer {
  width: 1000px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  
  /* width: 100%; */
  
}

.moder{
  margin-bottom: 30px;
  /* padding-top: 200px; */
}
