.navBar {
  display: flex;
  justify-content: flex-end;
  /* margin-top: 45px; */
}

.link {
  color: #555555;
  text-decoration: none;
  font-size: 14px;

  text-align: center;
  display: inline-block;
  min-width: 100px;
  padding: 4px 10px;
  margin-right: 10px;
  transition: 0.3s;
  --color-active:#ff0000;
}

.link:hover {
  color: #ff5b5b;
}

.functionContainer {
  margin-right: 30px;
}

.active {
  background-color: var(--background-color);
  cursor: default;
}

