.imgContainer {
  height: 300px;
  width: 300px;
}

.logoName {
  width: 300px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  

  /* Gray 2 */
  color: #4f4f4f;
}

a{
  color: #333333;
  text-decoration: none;
}

a:hover{
  color: #585858;
  text-decoration: none;
}

.info{
  margin-top: 30px;
}
