.headerContainer {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  /* position: relative; */
}

.logoGroup{
  display: flex;
  margin-bottom: 10px;
}

.logo1{
  position: relative;
  top: 8px;
  left: -8px;
  width: 27px;
  height: 35px;
}

.logo2{

  margin-left: 5px;
}

.logoText{
  color: #C92723;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  text-decoration: none;
}

.logoText:hover{
  color: inherit;
  opacity: 50%;
  text-decoration: none;
}

.enter{
  width: 180px;
  height: 54px;
  background-color: white;
  border: 1px solid #C92723;
  border-radius: 8px;
}

.btnText{
  font-size: 16px;
  margin-left: 5px;
  margin-right: 10px;
  color: #C92723;
}

.enter:hover{
  border: 1px solid #ffbebd;
}

.btnIcon{
  margin-right: 5px;
}

.mosru{
  width: 76px;
}

.dep{
  width: 144px;
}

.mosprom{
  width: 109px;
}

.exit{
  width: 90px;
  height: 54px;
  background-color: white;
  border: 1px solid #C92723;
  border-radius: 8px;
}

.exit:hover{
  border: 1px solid #ffbebd;
}
