.cardLots {
  color: #555555;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 19px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 25px;
  width: 360px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.imgContainer {
  margin-top: 3px;
  /* margin-bottom: 20px; */
  width: 310px;
  height: 260px;
  margin-bottom: 28px;
  /* border-radius: 20px; */
}

.h2Container {
  font-family: "arial";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;

  color: #555555;
}

.h3Container {
  margin-top: 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  /* line-height: 15px; */
  /* margin-bottom: 16px; */
  color: #555555;
  margin-bottom: 16px;
}

.cardLots p {
  margin-top: 10px;
  font-size: 22px;
}

.spanAdd {
  width: 220px;
  height: 36px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;

  color: #c92723;
}

.join2 {
  /* margin-top: 10px;
  height: 60px;
  width: 260px;
  background: linear-gradient(94.97deg, #04ce9b 0%, #64e408 100%);
  border-radius: 8px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 17px 28px;
  /* gap: 10px; */

  background: white;
  border-radius: 8px;
  border-style: solid;
  border-color: #c92723;
}

.enter2 {
  margin-top: 10px;
  margin-left: 25px;
  height: 60px;
  width: 60px;
  border: #555555 solid 1px;
  background: none;
  border-radius: 8px;
}

.btnGroup2 {
  display: flex;
  justify-content: space-between;
}

.linkOff {
  text-decoration: none;
  color: inherit;
}

.linkOff:hover {
  text-decoration: none;
  color: inherit;
}

.btnText {
  margin-left: 5px;
  margin-right: 10px;
  color: #c92723;
}

th {
  /* width: 70px;
  height: 60px; */
  /* margin-bottom: 10px; */
  /* margin: 16px; */
  vertical-align: top;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */

  color: #555555;
}

td {
  /* width: 220px;
height: px; */
  padding-left: 10px;
  font-family: "Onest";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  color: #c92723;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
